<footer class="site-footer">
  <div class="footerback">
    <a href="http://jtf2016.peatix.com/" target="_blank" class="btn btn-default" id="btn-ticket-footer">
      <i class="fa fa-caret-right yellow"></i>&ensp;チケット購入はこちらから
    </a>
    <div class="container">
      <div class="row text-center">
        <p>
          <img src="assets/img/footer.png" alt="">
        </p>
        <small class="copyright">©&ensp;July&ensp;TechFesta&ensp;2016実行委員会</small>
      </div>
    </div>
  </div>
</footer>
