<footer class="site-footer">
  <div class="footerback">
    <a href="http://jtf2016.peatix.com/" target="_blank" class="btn btn-default" id="btn-ticket-footer">
      <i class="fa fa-caret-right yellow"></i>&ensp;チケット購入はこちらから
    </a>
    <div class="container">
      <div class="row text-center">
        <p>
          <img src="assets/img/footer.png" alt="">
        </p>
        <small class="copyright">©&ensp;July&ensp;Tech&ensp;Festa&ensp;2016実行委員会</small>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="mailto:info@techfesta.jp?subject=techfestaへのお問い合わせ">info@techfesta.jp</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
