<div class="col-md-12 ticketbar">
  <div class="pull-right">
    <a href="http://jtf2016.peatix.com/" target="_blank" class="btn btn-default btn-ticket">
      <i class="fa fa-caret-right yellow"></i>&ensp;チケット購入はこちらから
    </a>
  </div>
</div>
