@charset "utf-8";
@import 'colors';
@import "bootstrap/bootstrap.min.css";

body{
	margin:0px;
  padding: 0px;
  text-align: center;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: $FrenchWine;
}

.navbar-brand {
	padding: 7px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	color: $White;
  &:visited {
    color: $White;
  }

  &:hover {
		color: $White;
  }
}

.icons { font-size:160%; margin-left:15px;}



.container {
  margin: 0 auto;
  text-align:left;
}

.img_top {
	height: auto;
	background-image: url(../images/promotion.png);
	@media screen and (min-width:768px) {
	  // 画面サイズが768pxからはここを読み込む
		background-size: cover;
		height: 1089px;
		p {
			text-align: center;
			padding-top: 310px;
		}
	}
	@media screen and (max-width:768px) {
	  // 画面サイズが768px以下はここを読み込む
		background-size: cover;
		height: 519px;
		p {
			text-align: center;
			padding-top: 180px;
		}
	}
	@media screen and (max-width:480px) {
		// 画面サイズが768px以下はここを読み込む
		background-size: cover;
		height: 338px;
		p {
			text-align: center;
			padding-top: 100px;
		}
	}
	img {
		padding-bottom: 2px;
	}
}

.img_center {
	background-image: url(../images/img_center.png);
	text-align: left;
	padding: 5px;
	img {
		padding-bottom: 2px;
	}
}

.bs-docs-footer {
	background-color: $FrenchWine;
	background-image: url(../images/img_footer.png);
	background-repeat: repeat;
	@media screen and (min-width:768px) {
	  // 画面サイズが768pxからはここを読み込む
		height: 400px;
	}
	@media screen and (max-width:768px) {
	  // 画面サイズが768px以下はここを読み込む
		background-size: cover;
		height: 150px;
	}
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 45px;
	padding-left: 45px;
}
