@charset "utf-8";
@import 'colors';
@import "bootstrap/bootstrap.min.css";

body{
	margin:0px;
  padding: 0px;
  text-align: center;
	font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: $FrenchWine;
}

.navbar-brand {
	padding: 7px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	color: $White;
  &:visited {
    color: $White;
  }

  &:hover {
		color: $White;
  }
}

.icons { font-size:160%; margin-left:15px;}



.container {
  margin: 0 auto;
  text-align:left;
}

.img_top {
	height: 1089px;
	background-image: url(../images/promotion.png);
}

.img_top .order {
  position: absolute;
  left: 400px;
  top: 360px;
}

.img_top .cfp {
  position: absolute;
  left: 705px;
  top: 360px;
}


.img_left {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 1141px;
	margin-bottom: 0;
	width: 636px;
	background-image: url(../images/img_left.png);
}
.img_center {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 1141px;
	margin-bottom: 0;
	width: 646px;
	background-image: url(../images/img_center.png);
	padding:20px 40px 10px 40px;
}
.img_right {
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 1141px;
	margin-bottom: 0;
	width: 83px;
	background-image: url(../images/img_right.png);
}


.bs-docs-footer {
	background-color: $FrenchWine;
	@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
		background-image: url(../images/img_footer.png);
		background-repeat: repeat;
		// background-size: cover;
		height: 400px;
	}
}
