<div id="img_footerBG">
  <div id="img_footer">
    <a href="#"><img src="images/button_off.png" class="order"></a>
    <img src="images/JTF_logo_footer.png" class="logo">
    <p class="cp">&copy;Jury Tech Festa 2016 実行委員会</p>
  </div>
</div>
