<div id="img_headerBG">
    <div id="img_header">
        <a href="#"><img src="images/JTF_logo_header.png" class="logo"></a>
        <div class="snss">
            <a href="mailto:info@techfesta.jp">info@techfesta.jp</a>
            <a href="#" target="_blank"><i class="fa fa-facebook icons"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter icons"></i></a>
        </div>
    </div>
</div>
