<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="images/JTF_logo_header.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="mailto:info@techfesta.jp">info@techfesta.jp</a>
        </li>
        <li>
          <a href="https://www.facebook.com/techfesta/" target="_blank">
            <i class="fa fa-facebook icons"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/techfesta" target="_blank">
            <i class="fa fa-twitter icons"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
