---
title: EnglishCafe
---

<div class="englishcafe-page">
	<div class="headback">
		<div class="container">
			<div class="headtopcontents englishcafe">
				<img src="assets/img/english/english-title.png" alt="">
			</div>
		</div>
	</div>
	<div class="section-view">
		<div class="section-backview colorview1"></div>
		<div class="section-backview colorview2"></div>
		<div class="section-backview colorview3"></div>
		<div class="container">
			<div class="backwhite-inner">
				<%= partial "modules/ticketbar" %>
				<div class="row">
					<div class="col-md-12 box-section">
						<h1>July&ensp;Tech&ensp;Festa&ensp;2016&ensp;英会話カフェ（269室）</h1>
						<p>エンジニアが集まる祭典において、海外での展開、外国人技術者とのコラボ、ネットワーキングなどに関心の高い方に向け、英語の学習方法、基本会話のトレー ニングなど、マグノリアのメソッドをご紹介します！またセッションの合間ではお菓子食べながら英語でコミュニケーションを取ったり、持ち込みの資料で英語 でプレゼンをしてもらったり、皆さんと楽しく英語に触れられたらと思います！</p>
					</div>
					<div class="col-md-12 box-section">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>
											<small>シンラ・テクノロジー・インク</small><br/>
											<small>シニア・バイス・プレジデント（技術）</small><br/>
											<ul class="userprofile">
												<li>明治大学政治経済学部経済学科卒業</li>
												<li>1994年 株式会社スクウェア入社Final Fantasy Tactics やFinal Fantasy等、計７プロジェクトに携わる。</li>
												<li>2009年 株式会社スクウェア・エニックス、研究開発部ジェネラルマネージャー</li>
												<li>2010年～2011年 CEDEC アドバイザリーボードメンバー</li>
												<li>2011年 株式会社スクウェア・エニックス・ホールディングス、社長付技術企画担当</li>
												<li>2012年 Eidos Montreal ディベロップメントディレクター（クラウド技術開発）</li>
												<li>2014年 シンラ・テクノロジー・インク シニア・バイス・プレジデント（技術）</li>
											</ul>
										</p>
									</div>
								</div>
								<div class="col-md-12">
									<h3>講師からのアドバイス</h3>
									<small>IT系エンジニアに英会話を教える傍ら、通訳や海外ビジネス展開のサポートを得意とします。英語はスポーツです！とにかくやる、繰り返すことが大切ですよ！</small>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>
											<small>シンラ・テクノロジー・インク</small><br/>
											<small>シニア・バイス・プレジデント（技術）</small><br/>
											<ul class="userprofile">
												<li>明治大学政治経済学部経済学科卒業</li>
												<li>1994年 株式会社スクウェア入社Final Fantasy Tactics やFinal Fantasy等、計７プロジェクトに携わる。</li>
												<li>2009年 株式会社スクウェア・エニックス、研究開発部ジェネラルマネージャー</li>
												<li>2010年～2011年 CEDEC アドバイザリーボードメンバー</li>
												<li>2011年 株式会社スクウェア・エニックス・ホールディングス、社長付技術企画担当</li>
												<li>2012年 Eidos Montreal ディベロップメントディレクター（クラウド技術開発）</li>
												<li>2014年 シンラ・テクノロジー・インク シニア・バイス・プレジデント（技術）</li>
											</ul>
										</p>
									</div>
								</div>
								<div class="col-md-12">
									<h3>講師からのアドバイス</h3>
									<small>IT系エンジニアに英会話を教える傍ら、通訳や海外ビジネス展開のサポートを得意とします。英語はスポーツです！とにかくやる、繰り返すことが大切ですよ！</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 box-section">
						<h1>テキストテキストテキストテキストテキスト</h1>
						<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
					</div>
					<div class="col-md-12 box-section">
						<h1>テキストテキストテキストテキストテキスト</h1>
						<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
