---
title: Welcome to JTF2016
---

<div class="home">
	<div class="carouselback">
		<div class="carouselback-black">
			<div class="container">
				<div id="carousel-jtf-generic" class="carousel slide" data-ride="carousel">
					<div class="overcaroucel">
						<div><img src="assets/img/toplogo.png"></div>
						<a href="http://jtf2016.peatix.com/" target="_blank" class="btn btn-default btn-ticket topTicketBtn">
							<i class="fa fa-caret-right yellow"></i>&ensp;チケット購入はこちらから
						</a>
					</div>
					<ol class="carousel-indicators jtf-indicator">
						<li data-target="#carousel-jtf-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-jtf-generic" data-slide-to="1"></li>
						<li data-target="#carousel-jtf-generic" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="assets/img/topback.png" alt="jtf-top1">
						</div>
						<div class="item">
							<img src="assets/img/topback.png" alt="jtf-top2">
						</div>
						<div class="item">
							<img src="assets/img/topback.png" alt="jtf-top3">
						</div>
					</div>
					<a class="left carousel-control" href="#carousel-jtf-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-jtf-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-1">
			<div class="container">
				<div class="section-cell inner-about">
					<div class="section-cell-inner">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-5 col-sm-5 col-xs-12">
									<img src="assets/img/about.png" alt="about" class="sectioncapt-img">
								</div>
								<div class="col-md-7 col-sm-7 col-xs-12">
									<h1>開催主催</h1>
									<p>
										テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
									</p>
									<div class="jtf-social">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<a href="https://www.facebook.com/techfesta/" target="_blank"><img src="assets/img/facebook.png" alt="facebook" class="jtf-social-img"></a>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<a href="https://twitter.com/techfesta" target="_blank"><img src="assets/img/twitter.png" alt="twitter" class="jtf-social-img"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-2">
			<div class="container">
				<div class="section-cell inner-thema">
					<div class="section-cell-inner">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-5 col-sm-5 col-xs-12 pull-right">
									<img src="assets/img/thema.png" alt="thema" class="sectioncapt-img">
								</div>
								<div class="col-md-7 col-sm-7 col-xs-12">
									<h1>Jult&nbsp;Tech&nbsp;Festaのテーマ</h1>
									<p>
										テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-3">
			<div class="container">
				<div class="section-cell">
					<div class="section-cell-inner inner-access">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-5 col-sm-5 col-xs-12">
									<img src="assets/img/access.png" alt="access" class="sectioncapt-img">
									<div class="topmap">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.8404452756768!2d139.74691811525676!3d35.60700218021175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188a75bdbd28f7%3A0x84ee382f1580be53!2z55Sj5qWt5oqA6KGT5aSn5a2m6Zmi5aSn5a2m!5e0!3m2!1sja!2sjp!4v1461569085114" width="86%" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
									</div>
								</div>
								<div class="col-md-7 col-sm-7 col-xs-12">
									<div class="row">
										<h2>産業技術大学(公立大学法人&nbsp;首都大学東京)東京都品川区東大井町1-10-40</h2>
										<p>都営バス 都立産業技術高専品川キャンパス前 （直行01，深夜07，品91，品川93，井92）からは約3分と最も近いです。目黒駅あるいは品川駅からは10分に1本程度のバスがあります。</p>
										<p>■目黒駅前発<br/><a class="linkwhite" href="http://www.navitime.co.jp/diagram/00017728_00004128_t4">http://www.navitime.co.jp/diagram/00017728_00004128_t4</a>
										</p>
										<p>■品川駅高輪口<br/><a class="linkwhite" href="http://www.navitime.co.jp/diagram/00016925_00004128_t4">http://www.navitime.co.jp/diagram/00016925_00004128_t4</a>
										</p>
										<p>■品川駅港南口<br/><a class="linkwhite" href="http://www.navitime.co.jp/diagram/00016924_00004126_t4">http://www.navitime.co.jp/diagram/00016924_00004126_t4</a>
										</p>
										<p>■バス停地図<br/><a class="linkwhite" href="http://tobus.jp/blsys/navi?LCD=&VCD=csstopmap&ECD=reload&stopkey=947&polekey=2275">http://tobus.jp/blsys/navi?LCD=&VCD=csstopmap&ECD=reload&stopkey=947&polekey=2275</a>
										</p>
										<p>羽田空港からは京浜急行線 青物横丁駅以外に，本数はあまりありませんが，品川シーサイド駅・大井町駅行きのの空港リムジンバスも利用できます。</br>当日の受付は9時から行います。基調講演開始（10時）の直前は混雑している恐れがございます。若干速めにご来場ください。</p>
										<p>当日の受付は産業技術大学院大学 正面玄関（2F 230ホール・A教室の前）で行います。駅及びバス停からは若干遠回りですが，以下の地図を参考にグラウンド側から来場してください。また，品川シーサイド駅からの近道も利用できますので，学内の裏道をご存知であれば，無理にこの地図にしたがって来場する必要はありません。
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-4">
			<div class="container">
				<div class="section-cell-free">
					<div class="section-cell-inner-free">
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="assets/img/sponsor.png" alt="sponsor" class="sectioncapt-sponsor-img">
								<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 prise-title wood">
									<img src="assets/img/wood.png" alt="">
								</div>
								<div class="col-md-12">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<img src="assets/img/sponsor/sponsor1.png" alt="sponsor1" class="sponsor-img">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<img src="assets/img/sponsor/sponsor2.png" alt="sponsor2" class="sponsor-img">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<img src="assets/img/sponsor/sponsor3.png" alt="sponsor3" class="sponsor-img">
									</div>
								</div>
								<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 prise-title platinum">
									<img src="assets/img/platinum.png" alt="">
								</div>
								<div class="col-md-12">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<img src="assets/img/sponsor/sponsor1.png" alt="sponsor1" class="sponsor-img">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<img src="assets/img/sponsor/sponsor2.png" alt="sponsor2" class="sponsor-img">
									</div>
									<div class="col-md-4 col-sm-4 col-xs-12">
										<img src="assets/img/sponsor/sponsor3.png" alt="sponsor3" class="sponsor-img">
									</div>
								</div>
								<div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 prise-title gold">
									<img src="assets/img/gold.png" alt="">
								</div>
								<div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 prise-title silver">
									<img src="assets/img/silver.png" alt="">
								</div>
								<div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 prise-title bronze">
									<img src="assets/img/bronze.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!-- welcome -->
