---
title: Members
---

<div class="members-page">
	<div class="headback bluehead">
		<div class="container">
			<div class="headtopcontents members">
				<img src="assets/img/members/members-title.png" alt="">
			</div>
		</div>
	</div>
	<div class="section-view blue3">
		<div class="section-backview colorview1 blue1"></div>
		<div class="section-backview colorview2 blue2"></div>
		<div class="container">
			<div class="backwhite-inner">
				<%= partial "modules/ticketbar" %>
				<div class="row">
					<div class="col-md-12 box-section">
						<h1>July&nbsp;Tech&nbsp;Festa&nbsp;2016&nbsp;運営チーム一覧</h1>
						<p>説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト</p>
					</div>
					<div class="col-md-12 box-section">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 box-section">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 box-section">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-4">
										<img src="assets/img/man.png" alt="userprofileimg" class="userprofileimg">
									</div>
									<div class="col-md-8">
										<h2>渡部　泰子</h2>
										<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
