---
title: Program
---

<div class="program-page">
	<div class="headback">
		<div class="container">
			<div class="headtopcontents program">
				<img src="assets/img/program/program-title.png" alt="">
			</div>
		</div>
	</div>
	<div class="section-view">
		<div class="section-backview colorview1"></div>
		<div class="section-backview colorview2"></div>
		<div class="section-backview colorview3"></div>
		<div class="container">
			<div class="backwhite-inner">
				<%= partial "modules/ticketbar" %>
				<div class="row">
					<div class="col-md-12 box-section">
						<div class="col-md-5 col-sm-5 col-xs-12 pull-right">
							<img src="assets/img/program/dateplate.png" alt="" style="width:100%;">
						</div>

						<div class="col-md-7 col-sm-7 col-xs-12">
							<h1>July&nbsp;Tech&nbsp;Festa&nbsp;2016&nbsp;当日のプログラム</h1>
							<p>説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト</p>
						</div>
					</div>
					<div class="col-md-12 box-section">
						<img src="assets/img/program/tmp.png" alt="" style="width:100%;">
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
