<div class="program-page">
  <div class="headback">
    <div class="container">
      <div class="headtopcontents program">
        <img src="assets/img/program/program-title.png" alt="">
      </div>
    </div>
  </div>
  <div class="section-view">
    <div class="section-backview colorview1"></div>
    <div class="section-backview colorview2"></div>
    <div class="section-backview colorview3"></div>
    <div class="container">
      <div class="backwhite-inner">
        <%= partial "modules/ticketbar" %>
        <div class="row">
          <div class="col-md-12 box-section">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right">
              <img src="assets/img/program/dateplate.png" alt="" style="width:100%;">
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
              <h1><%= data.program.title %></h1>
              <p><%= data.program.description %></p>
            </div>
          </div>
          <div class="col-md-12 box-section">
            <div class="ui-flickable-wrapper" style="padding: 1px; background-color: rgb(255, 255, 255);"><div class="ui-flickable-content" style="position: relative; padding: 0px; width: auto; background-image: none; background-attachment: scroll; background-color: rgba(0, 0, 0, 0); background-position: 0px 0px; background-repeat: repeat;">
              <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 1114px;">
               <colgroup><col style="width: 50pt;" width="50">
               <col span="8" style="width: 133pt;" width="133">
             </colgroup><tbody>
             <tr height="19" style="height: 19.0pt;">
              <td class="xl64" height="19" rowspan="2" style="height: 19.0pt; width: 50pt;" width="50">時間</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">A会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">B会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">C会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">D会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">E会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">F会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">G会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">H会場</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133"><a href="http://2015.techfesta.jp/p/blog-page_21.html">英会話カフェ</a></td>
            </tr>
            <tr height="19" style="height: 19.0pt;">
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">230ホール</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">351a室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">358室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">351b室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">433室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">452-453室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">357室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">354室</td>
              <td class="xl65" style="border-left: none; width: 133pt;" width="133">269室</td>
            </tr>
            <tr height="38" style="height: 38.0pt;">
              <td class="xl65" height="38" style="border-top: none; height: 38.0pt; width: 50pt;" width="50">9:00-<br>
                10:00</td>
                <td class="xl66" colspan="9" style="border-left: none; width: 1197pt;" width="1197">受付</td>
              </tr>
              <tr height="114" style="height: 114.0pt;">
                <td class="xl65" height="114" style="border-top: none; height: 114.0pt; width: 50pt;" width="50">10:00-<br>
                  11:00</td>
                  <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133">基調講演:<br>
                    <a href="http://2015.techfesta.jp/p/program.html#engineers_future">ベンチャーCTO、AWSエバンジェリストを経て考える、クラウド時代に向き合うエンジニア像のこれから</a></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                    <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                  </tr>
                  <tr height="95" style="height: 95.0pt;">
                    <td class="xl65" height="95" style="border-top: none; height: 95.0pt; width: 50pt;" width="50">11:15-<br>
                      12:00</td>
                      <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">A10:</span><br>
                        <a href="http://2015.techfesta.jp/p/program.html#machine_learning">数学の知識不要! ITエンジニアのための「機械学習理論」入門</a></td>
                        <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">B10:</span><br>
                          <a href="http://2015.techfesta.jp/p/program.html#parallel_batch_processing_using_apache_spark">Apache Sparkを用いたNoSQLバッチ並列処理へシフトするための発想転換と実装事例</a></td>
                          <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">C10:</span><br>
                            <a href="http://2015.techfesta.jp/p/program.html#iot_edison_with_consul">IoT時代のデバイスクラスタ ― Hashicorp consulを用いたIntel Edisonクラスタの構成 ―</a></td>
                            <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                            <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">E10:</span><br>
                              <a href="http://2015.techfesta.jp/p/program.html#immutable_infrastructure">マイクロサービスで、一歩先行くImmutable Infrastructureを目指そう</a></td>
                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                            </tr>
                            <tr height="38" style="height: 38.0pt;">
                              <td class="xl65" height="38" style="border-top: none; height: 38.0pt; width: 50pt;" width="50">12:00-<br>
                                13:00</td>
                                <td class="xl66" colspan="9" style="border-left: none; width: 1197pt;" width="1197">昼食・スカウティングセッション(A会場)<br>
                                  はてな、IDCフロンティア、日本アイ・ビー・エム、クリエーションライン、ワークスアプリケーションズ</td>
                                </tr>
                                <tr height="133" style="height: 133.0pt;">
                                  <td class="xl65" height="133" style="border-top: none; height: 133.0pt; width: 50pt;" width="50">13:00-<br>
                                    13:45</td>
                                    <td class="xl69" style="border-left: none; border-top: none; white-space: clip; width: 133pt; wrap-strategy: 3;" width="133"><span class="identifier">A20:</span><br>
                                      <a href="http://2015.techfesta.jp/p/program.html#skill_pattern">エンジニアのスキルパターンを作ってみた話</a></td>
                                      <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">B20:</span><br>
                                        <a href="http://2015.techfesta.jp/p/program.html#automation_with_oss_and_aws">サーバー運用業務を汎用化・共通化し、AWSの各種サービスやOSSを組み合わせた自動化事例</a></td>
                                        <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">C20:</span><br>
                                          <a href="http://2015.techfesta.jp/p/program.html#mackerel">Modern DevOps with Mackerel</a></td>
                                          <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">D20:</span><br>
                                            <a href="http://2015.techfesta.jp/p/program.html#hadoop_eco_system">Hadoopエコシステムの最新状況とこれからの動向</a></td>
                                            <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">E20:</span><br>
                                              <a href="http://2015.techfesta.jp/p/program.html#monitoring_for_docker">真剣にDocker運用を考える人に、各種監視ツールとサービスを比較</a></td>
                                              <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">F20:</span><br>
                                                <a href="http://2015.techfesta.jp/p/program.html#ansible_for_chef_users">ChefからAnsibleへ引っ越したい人のためのAnsible入門</a></td>
                                                <td class="xl70" rowspan="2" style="border-top: none; width: 133pt;" width="133"><span class="identifier">G20:</span><br>
                                                  <a href="http://2015.techfesta.jp/p/program.html#wordpress_on_softlayer">高速でスケーラブルなウェブサイトをNginxとWordPressでSoftLayer上に構築しよう</a></td>
                                                  <td class="xl70" rowspan="2" style="border-top: none; width: 133pt;" width="133"><span class="identifier">H20:</span><br>
                                                    <a href="http://2015.techfesta.jp/p/program.html#docker_on_sakura_cloud">パブリッククラウドを利用した初心者向けDockerハンズオン(受講者の方はおみやげに「さくらのクラウド2万円クーポン」プレゼント)</a></td>
                                                    <td class="xl70" rowspan="2" style="border-top: none; width: 133pt;" width="133"><a href="http://2015.techfesta.jp/p/blog-page_21.html">英会話カフェ</a></td>
                                                  </tr>
                                                  <tr height="209" style="height: 209.0pt;">
                                                    <td class="xl65" height="209" style="border-top: none; height: 209.0pt; width: 50pt;" width="50">14:00-<br>
                                                      14:45</td>
                                                      <td class="xl71" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">A30:</span><br>
                                                        <a href="http://2015.techfesta.jp/p/program.html#anti_patterns_on_aws">失敗例を成功に変える、AWSアンチパターンの数々（Webアプリ編）</a></td>
                                                        <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">B30:</span><br>
                                                          <a href="http://2015.techfesta.jp/p/program.html#how_to_create_ansible_module">今話題のAnsibleのモジュールをゼロから自分で作ってみよう</a></td>
                                                          <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">C30:</span><br>
                                                            <a href="http://2015.techfesta.jp/p/program.html#cloudstack">Apache CloudStack技術者認定試験（ACCELアクセル）技術 解説セミナー</a></td>
                                                            <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133">D30 ショートセッション<br>
                                                              <span class="identifier">D31: </span><a href="http://2015.techfesta.jp/p/program.html#security_handling">OWASP Japan ― 情報セキュリティとのうまい付き合い方 ―</a><br>
                                                              <span class="identifier">D32: </span><a href="http://2015.techfesta.jp/p/program.html#pull_request_based_development">外部サービスを使わずにPullRequestベースの開発をするために行ったこと</a><br>
                                                              <span class="identifier">D33: </span><a href="http://2015.techfesta.jp/p/program.html#unity_for_infrastructure_engineers">インフラエンジニアがUnityをやるべき、たった一つの理由</a></td>
                                                              <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">E30:</span><br>
                                                                <a href="http://2015.techfesta.jp/p/program.html#all_about_oss_paas">ひしめき合うオープンソースPaaSを徹底解剖!PaaSの今と未来</a></td>
                                                                <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">F30:</span><br>
                                                                  <a href="http://2015.techfesta.jp/p/program.html#what_is_mqtt">IoTってなに？MQTTができること</a></td>
                                                                </tr>
                                                                <tr height="38" style="height: 38.0pt;">
                                                                  <td class="xl65" height="38" style="border-top: none; height: 38.0pt; width: 50pt;" width="50">14:45-<br>
                                                                    15:15</td>
                                                                    <td class="xl66" colspan="9" style="border-left: none; width: 1197pt;" width="1197">スカウティングセッション(A会場)<br>
                                                                      テコラス、ニュータニックス・ジャパン、ビッグローブ</td>
                                                                    </tr>
                                                                    <tr height="171" style="height: 171.0pt;">
                                                                      <td class="xl65" height="171" style="border-top: none; height: 171.0pt; width: 50pt;" width="50">15:15-<br>
                                                                        16:00</td>
                                                                        <td class="xl72" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">A40:</span><br>
                                                                          <a href="http://2015.techfesta.jp/p/program.html#tech_trend_and_future">最前線で戦う若手インフラエンジニアたちが語る「技術トレンド」と「数年後の未来」</a></td>
                                                                          <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">B40:</span><br>
                                                                            <a href="http://2015.techfesta.jp/p/program.html#full_managed_hosting_with_oss">全部見せます！データホテル・フルマネージドホスティングサービスを支えるOSSと、活用事例</a></td>
                                                                            <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">C40:</span><br>
                                                                              <a href="http://2015.techfesta.jp/p/program.html#hyper_converged_infrastructure">仮想化とストレージの新しい形！ハイパーコンバージドインフラの技術解説</a></td>
                                                                              <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">D40:</span><br>
                                                                                <a href="http://2015.techfesta.jp/p/program.html#multiple_cloud_usecase">CDP（Cloud Design Pattern）はもう古い？これからはMCDP（Multi Cloud Design Pattern）</a></td>
                                                                                <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">E40:</span><br>
                                                                                  <a href="http://2015.techfesta.jp/p/program.html#security_hardening">セキュリティ的に「硬い」インフラを作ろう ― MINI Hardening Project</a></td>
                                                                                  <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133">F40 ショートセッション<br>
                                                                                    <span class="identifier">F41: </span><a href="http://2015.techfesta.jp/p/program.html#rancher_dot_io">Dockerをみんなで便利に使えるRancher.io入門</a><br>
                                                                                    <span class="identifier">F42: </span><a href="http://2015.techfesta.jp/p/program.html#iaas_wakame_vdc">クラウド基盤を15分で構築しよう！Wakame-vdcで始めるお手軽クラウド生活</a><br>
                                                                                    <span class="identifier">F43: </span><a href="http://2015.techfesta.jp/p/program.html#graph_db_basis">グラフデータベースについて理解しよう</a></td>
                                                                                    <td class="xl70" rowspan="2" style="border-top: none; width: 133pt;" width="133"><span class="identifier">G40:</span><br>
                                                                                      <a href="http://2015.techfesta.jp/p/program.html#mackerel_on_idcf_cloud">Mackerelを使ったサーバー管理&amp;クラウドサーバーのオンラインスケールアップ！&amp;できたてほやほやIDCFクラウドのRDBを使ってみよう！（IDCFクラウドのクーポンあるよ）</a></td>
                                                                                      <td class="xl70" rowspan="2" style="border-top: none; width: 133pt;" width="133"><span class="identifier">H40:</span><br>
                                                                                        <a href="http://2015.techfesta.jp/p/program.html#consul_handson">Consulによる運用自律化体験ハンズオンとConsul活用事例紹介</a></td>
                                                                                        <td class="xl70" rowspan="2" style="border-top: none; width: 133pt;" width="133"><a href="http://2015.techfesta.jp/p/blog-page_21.html">英会話カフェ</a></td>
                                                                                      </tr>
                                                                                      <tr height="95" style="height: 95.0pt;">
                                                                                        <td class="xl65" height="95" style="border-top: none; height: 95.0pt; width: 50pt;" width="50">16:15-<br>
                                                                                          17:00</td>
                                                                                          <td class="xl73" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">A50:</span><br>
                                                                                            <a href="http://2015.techfesta.jp/p/program.html#hashicorp_atlas">HashiCorpとAtlasのインフラ管理 ― 運用に自動化を求めるのは間違っているだろうか（仮）</a></td>
                                                                                            <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">B50:</span><br>
                                                                                              <a href="http://2015.techfesta.jp/p/program.html#google_next_mapreduce">Googleが描く、MapReduceを超えたビッグデータの世界</a></td>
                                                                                              <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">C50:</span><br>
                                                                                                <a href="http://2015.techfesta.jp/p/program.html#client_side_optimization">High Usability Applicationでの100ミリ秒レスポンスを実現するクライアントサイドの開発技術</a></td>
                                                                                                <td class="xl74" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">D50:</span><br>
                                                                                                  <a href="http://2015.techfesta.jp/p/program.html#cmdbuild">OSSで手軽に実現！クラウドの構成管理を自動化する基盤CMDBuildとは</a></td>
                                                                                                  <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">E50:</span><br>
                                                                                                    <a href="http://2015.techfesta.jp/p/program.html#free_security_check">フリーでできるセキュリティチェック</a></td>
                                                                                                    <td class="xl67" style="border-left: none; border-top: none; width: 133pt;" width="133"><span class="identifier">F50:</span><br>
                                                                                                      <a href="http://2015.techfesta.jp/p/program.html#data_modeling_for_graph_db">グラフデータベースのためのデータモデリング</a></td>
                                                                                                    </tr>
                                                                                                    <tr height="38" style="height: 38.0pt;">
                                                                                                      <td class="xl65" height="38" style="border-top: none; height: 38.0pt; width: 50pt;" width="50">17:00-<br>
                                                                                                        17:30</td>
                                                                                                        <td class="xl66" colspan="9" style="border-left: none; width: 1197pt;" width="1197">スカウティングセッション(A会場)<br>
                                                                                                          ニフティ、さくらインターネット、DMM.comラボ</td>
                                                                                                        </tr>
                                                                                                        <tr height="61" style="height: 61.0pt;">
                                                                                                          <td class="xl65" height="61" style="border-top: none; height: 61.0pt; width: 50pt;" width="50">17:30-<br>
                                                                                                            18:30</td>
                                                                                                            <td class="xl72" style="border-left: none; border-top: none; width: 133pt;" width="133">招待講演:<br>
                                                                                                              <a href="http://2015.techfesta.jp/p/program.html#game_cloud">今明かされる! シンラ・テクノロジーのインフラへの挑戦と舞台裏</a></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                              <td class="xl68" style="border-left: none; border-top: none; width: 133pt;" width="133"></td>
                                                                                                            </tr>
                                                                                                            <tr height="38" style="height: 38.0pt;">
                                                                                                              <td class="xl65" height="38" style="border-top: none; height: 38.0pt; width: 50pt;" width="50">19:00-<br>
                                                                                                                21:00</td>
                                                                                                                <td class="xl66" colspan="9" style="border-left: none; width: 1197pt;" width="1197">懇親会 (HUMMER CAFE)</td>
                                                                                                              </tr>
                                                                                                            </tbody></table>
                                                                                                            <div style="clear:both;"></div></div></div>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
