---
title: Sponsor
---

<div class="sponsor-page">
	<div class="headback">
		<div class="container">
			<div class="headtopcontents sponsor">
				<img src="assets/img/sponsor/sponsor-title.png" alt="">
			</div>
		</div>
	</div>
	<div class="section-view">
		<div class="section-backview colorview1"></div>
		<div class="section-backview colorview2"></div>
		<div class="section-backview colorview3"></div>
		<div class="container">
			<div class="backwhite-inner">
				<%= partial "modules/ticketbar" %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 box-section-top text-center">
						<img src="assets/img/sponsor/sponsor-flag.png" alt="" style="width:100%;">
					</div>
					<div class="col-md-10 col-md-offset-1 box-section">
						<div class="col-md-12 text-center">
							<h1>July&ensp;Tech&ensp;Festa&ensp;2016&ensp;スポンサー一覧</h1>
						</div>
						<p>説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト説明テキスト</p>
					</div>
					<div class="col-md-12 box-section text-center">
						<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 prise-title gold">
							<img src="assets/img/gold.png" alt="">
						</div>
						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<img src="assets/img/sponsor/sponsor1.png" alt="sponsor1" class="sponsor-img">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<img src="assets/img/sponsor/sponsor2.png" alt="sponsor2" class="sponsor-img">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<img src="assets/img/sponsor/sponsor3.png" alt="sponsor3" class="sponsor-img">
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 prise-title platinum">
							<img src="assets/img/platinum.png" alt="">
						</div>
						<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
							<div class="col-md-4 col-sm-4 col-xs-12">
								<img src="assets/img/sponsor/sponsor1.png" alt="sponsor1" class="sponsor-img">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<img src="assets/img/sponsor/sponsor2.png" alt="sponsor2" class="sponsor-img">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<img src="assets/img/sponsor/sponsor3.png" alt="sponsor3" class="sponsor-img">
							</div>
						</div>
						<div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 prise-title silver">
							<img src="assets/img/silver.png" alt="">
						</div>
						<div class="col-md-8 col-md-offset-2  col-sm-12 col-xs-12 prise-title wooddark">
							<img src="assets/img/wooddark.png" alt="">
						</div>
						<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 prise-title bronze">
							<img src="assets/img/bronze.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
